.cards-title {
  margin-top: 30px;
  margin-bottom: 30px
}

.blue-bar {
  width: 48px;
  height: 8px;
  border-radius: 33554400px;

  background: linear-gradient(to bottom,
      #5B93C0,
      #125C9D,
      #063679
    );
}