<mat-card class="card">
  <mat-card-title>
    <img [src]="'./assets/images/' + img">
  </mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="12px">
      <div fxLayout="column" fxLayoutAlign="center center" class="icon-bg">
        <mat-icon class="icon" color="primary">{{icon}}</mat-icon>
      </div>
      <div fxLayout="column" fxFlex="50%">
        <span fxLayout="row" class="title">{{title}}</span>
        <span fxLayout="row" class="subtitle">{{type}}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start end" fxFlex>
        <mat-icon class="github" svgIcon="ontimize:github"></mat-icon>
      </div>
    </div>
    <span fxLayout="row" class="description">{{description}}</span>
    <a mat-flat-button [href]=url color="primary">{{action}}</a>
  </mat-card-content>
</mat-card>
