@use '@angular/material' as mat;
@use 'sass:map';

@mixin card-theme($theme) {
  $primary: map.get($theme, color, primary);
  $background: map.get($theme, color, background);
  $foreground: map.get($theme, color, foreground);
  $typography: map-get($theme, typography);

  .title {
    font-size: mat.font-size($typography, headline-6);
  }

  .subtitle {
    font-size: mat.font-size($typography, subtitle-1);
    color: mat.get-color-from-palette($foreground, button);
  }

  .description {
    font-size: mat.font-size($typography, subtitle-1);
    color: mat.get-color-from-palette($foreground, base);
  }

  .icon-bg{
    background-color: mat.get-color-from-palette($primary, 50);
  }

  .github{
    color:#6B7280;
  }

}