.card {
  width: 400px;
  height: 360px;
  border-radius: 14px;

  img {
    height: 184px;
    width: 400px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .card-title {
    margin-top: 8px;
    align-items: center;
  }

  .icon-bg {
    height: 36px;
    width: 36px;
    border-radius: 10px;
  }

  .icon {
    height: 16px;
    width: 16px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .github {
    padding: 8px;
  }

}

.o-button button.mat-mdc-unelevated-button .button-action {
  border-radius: 8px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.cards-v8 {
  grid-template-columns: 1fr;
  overflow-y: scroll;
}

@media (max-width: 1919px) {
  .cards-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-v8 {
    grid-template-columns: 1fr;
  }
}