<div class="header">
  <p class="img-title">Ontimize Web demos and components</p>
  <span class="img-content">Discover our demos and try Ontimize Web components. Explore how they work and how to integrate them into your
    projects.</span>
</div>
<div class="cards">
  <div fxLayout="row" class="cards-title" fxLayoutGap="12px" fxLayoutAlign="start center">
    <div class="blue-bar"></div>
    <span class="title-group">Available demos</span>
  </div>
  <card [data]="demos"></card>
  <div fxLayout="row" class="cards-title" fxLayoutGap="12px" fxLayoutAlign="start center">
    <div class="blue-bar"></div>
    <span class="title-group">Discover Ontimize components</span>
  </div>
  <card [data]="components"></card>
</div>
