.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.toolbar-title {
  margin-left: 32px;
}

.ontimize-icon {
  height: 25px;
  width: 21px;
}

.title {
  margin: 18px 0;
}

.footer {
  height: 56px;
}