<div fxLayout="column">
  <mat-toolbar color="primary">
    <div fxFlex fxLayoutGap="8px" fxLayoutAlign="start center" class="toolbar-title">
      <img class="ontimize-icon" src="./assets/images/logoGrisNegro.png">
      <span class="title">Ontimize Web</span>
    </div>
    <button mat-button [matMenuTriggerFor]="versionPicker">
      {{ selectedVersion?.title }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #versionPicker="matMenu">
      <button mat-menu-item *ngFor="let version of ontimizeVersions" (click)="onVersionChanged(version)">{{ version.title
        }}</button>
    </mat-menu>
    <o-button type="BASIC" label="GitHub" layout-padding svg-icon="ontimize:github" (click)="openGitHub()"></o-button>
    <o-button type="BASIC" label="Docs" layout-padding image="./assets/images/logoGrisNegro.png" (click)=openDocs()></o-button>
  </mat-toolbar>
  <div fxLayout="row" fxFlex="540px">
    <img class="head-image" src="./assets/images/grupo-de-jovenes.jpg">
  </div>
  <section></section>
</div>
