.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.toolbar-title {
  margin-left: 32px;
}

.ontimize-icon {
  height: 25px;
  width: 21px;
}

.title {
  margin: 18px 0;
}

.header {
  margin-top: 64px;
  background-image: linear-gradient(rgba(20, 100, 165, 0.6), rgba(24, 114, 189, 0.4)), url("/assets/images/grupo-de-jovenes.jpg");
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
}

.img-content {
  margin: 0px 132px 24px 132px;
  transform: scaleX(-1);
}

.img-title {
  margin: 48px 132px 24px 132px;
  transform: scaleX(-1);
}

.cards {
  margin: 0 15% 5% 15%;
}

.footer {
  height: 56px;
}