<mat-toolbar [color]="selectedVersion?.version === 18 ? null : 'primary'" class="toolbar"
  [class.toolbar--v18]="selectedVersion?.version === 18">
  <div fxFlex fxLayoutGap="8px" fxLayoutAlign="start center" class="toolbar-title">
    <img class="ontimize-icon" src="./assets/images/logoGrisNegro.png">
    <span class="title">Ontimize Web</span>
  </div>
  <button mat-button class="version-button" [matMenuTriggerFor]="versionPicker">
    {{ selectedVersion?.title }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #versionPicker="matMenu">
    <button mat-menu-item *ngFor="let version of ontimizeVersions" (click)="onVersionChanged(version)">{{ version.title
      }}</button>
  </mat-menu>
  <a mat-button href="https://github.com/OntimizeWeb/ontimize-web-ngx" aria-label="GitHub Repository" target="_blank" class="github-button">
    <mat-icon class="github-icon" svgIcon="ontimize:github"></mat-icon>
    <span>GitHub</span>
  </a>
  <a mat-button href="https://ontimizeweb.github.io/docs/v{{selectedVersion?.version}}" aria-label="OntimizeWeb Docs" target="_blank">
    <img class="ontimize-icon" src="./assets/images/logoGrisNegro.png" matButtonIcon>
    &nbsp;<span>Docs</span>
  </a>
</mat-toolbar>
<div class="page">
  <section-v8 *ngIf="selectedVersion?.version === 8"></section-v8>
  <section-v15 *ngIf="selectedVersion?.version === 15"></section-v15>
  <section-v18 *ngIf="selectedVersion?.version === 18"></section-v18>
  <div class="footer" fxLayoutAlign="center center" [class.footer--v18]="selectedVersion?.version === 18">
    <span>© {{currentYear}} Ontimize. All demos and components designed by Ontimize.</span>
  </div>
</div>
