@use '@angular/material' as mat;
@use 'sass:map';

@mixin section-v8-theme($theme) {
  $primary: map.get($theme, color, primary);
  $background: map.get($theme, color, background);
  $foreground: map.get($theme, color, foreground);
  $typography: map-get($theme, typography);

  .img-title {
    font-size: mat.font-size($typography, headline-4);
    color: mat.get-color-from-palette($background, level-1);
  }

  .img-content {
    font-size: mat.font-size($typography, headline-6);
    color: mat.get-color-from-palette($background, level-1);
  }

  .cards-title {
    font-size: mat.font-size($typography, headline-5);
    color: mat.get-color-from-palette($foreground, text);
  }

}