:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.content {
  height: 100%;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.cards {
  min-height: 0;
  overflow-y: auto;
  align-items: center;
  gap: 16px;
  padding: 60px 0;
}