<div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <span>Ontimize Web demos</span>

      <div fxFlex></div>

      <button mat-button [matMenuTriggerFor]="versionPicker">
        {{ selectedVersion.title }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #versionPicker="matMenu">
        <button mat-menu-item *ngFor="let version of ontimizeVersions" (click)="onVersionChanged(version)">
          {{version.title}}
        </button>
      </mat-menu>

      <a mat-button href="https://github.com/OntimizeWeb/ontimize-web-ngx" aria-label="GitHub Repository">
        <mat-icon svgIcon="ontimize:github"></mat-icon>
        GitHub
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <o-grid #grid fxFlex attr="grid" class="demo-grid" entity="EDemo" columns="id;name;description;icon;url;github;version"
      keys="id" cols="4" query-rows="8" show-page-size="false" query-on-init="no" orderable="no" controls="no"
      refresh-button="false" pagination-controls="false" detail-mode="none" grid-item-height="1:0.75">
      <!--   -->
      <o-grid-item *ngFor="let item of grid.dataArray" onClick="onGridItemClicked()">

        <mat-card class="app-card">

          <img mat-card-image [src]="item.icon">
          <mat-card-content>
            <p>
              {{ item.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>

            <button mat-icon-button color="accent" (click)="openTab(item.url)">
              <mat-icon>open_in_new</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="openTab(item.github)">
              <mat-icon svgIcon="ontimize:github"></mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </o-grid-item>
    </o-grid>





  </div>
</div>